.how_block {
    display: flex;
    flex-wrap: wrap;
}

.how_block_child {
    flex: 1 0 21%; /* explanation below */
    margin: 5px;
    padding: 0 10px;
    color: #162F34;
  }

@media only screen and (max-width: 480px){

    .how_block {
        flex-direction: column;
    }  

    .how_block_child {
        margin-bottom: 32px;
    }
}