/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

html {
    color: #373D3F;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: #fff;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.title {
    font-family: 'Merriweather', serif;
    color:#005377;
    font-size:2.7em;
    letter-spacing:0.15rem;
    font-weight:700;
    text-shadow: 1px 1px 0px #ffffff";
}

.title a {
    color:#005377;
    text-decoration: none;
}

.byline {
    color: #06A77D;
    font-weight: normal;
}

.header-container {
    margin-top: 3rem;
}

.register_block {
    background-color: #f7f3ef;
    border-radius: 10px;
    padding: 30px 40px;
    margin-top: 3rem;
}

.register_block h2 {
    color:#005377;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.register_block p {
    margin-bottom: 1.5rem;
    text-align: center;
}

input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin-top:1rem;
    margin-bottom:1rem;
    margin-right:1rem;
    background-color: #fff;
    border: 2px solid #d6c0a9;
    border-radius: 10px;
  }

input[type=submit] {
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 12px 20px;
    background-color: #d6c0a9;
    border: 2px solid #d6c0a9;
    color: #005377;
    font-weight: bold;
    border-radius: 10px;
  }

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.about_article section {
    padding-bottom:1rem;
}

.about_article h2 {
    font-weight: normal;
}

.about_article img {
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success_block {
    background-color: #f7f3ef;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 2rem auto;
}

.success_block h2 {
    color:#005377;
    margin: 0;
    font-weight: bold;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px){

    .title {
        font-size:2.1em;
        line-height:120%;
    }

}

@media only screen and (min-width: 480px) {

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Main
   ============ */

    .main article {
        width: 52%;
        margin: auto;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}