/*! HTML5 Boilerplate v5.0 | MIT License | https://html5boilerplate.com/ -- https://github.com/h5bp/html5-boilerplate */

/* DOC: https://github.com/h5bp/main.css/blob/master/README.md#features */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

html {
    color: #373D3F;
    font-size: 1em;
    line-height: 1.4;
    background-color: #f4ede2;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ul {
  list-style-type: none;
}

/* unvisited link */
a:link {
  color:#107d9d;
}

/* visited link */
a:visited {
  color:#107d9d;
}

/* mouse over link */
a:hover {
  color:#D8F3FB;
}

/* selected link */
a:active {
  color:#D8F3FB;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Open Sans', sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
    border: 0px solid red;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 32px 0;
}

.main article h1 {
    font-size: 2em;
}

.footer-container footer {
    color: #fff;
    padding: 30px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* index.html */ 
.title {
    font-family: 'Merriweather', serif;
    color:#005377;
    font-size:2.7em;
    letter-spacing:0.15rem;
    font-weight:700;
    text-shadow: 1px 1px 0px #ffffff;
}

.title a {
    color:#005377;
    text-decoration: none;
}

.logo {
    width: 75% !important;
    max-width: 275px !important;
    margin-left: auto;
    margin-right: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 12.5%;
    padding-right: 10%;
    text-indent: -1em;
}

li {
    padding-top:5px;
}

.plus {
    color: #b19c76;
    font-weight: bold;
    font-size: 20px;
}

.plus-green {
    color: #162F34;
    font-weight: bold;
    font-size: 20px;
}

li span {
    position: relative;
    left: 8px;
}

.byline {
    color: #162F34;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    margin: 0;
    margin-bottom: 24px;
}

.header-container {
    padding-top: 3rem;
}



.register_block {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    margin-top: 3rem;
    border: 2px solid #e1e1e1;
}

.register_block h2 {
    color:#0d9bc1;
    margin-bottom: 1.5rem;
}

.register_block p {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}

.product_block {
    margin-top: 3rem;
    display:flex;
}

.product {
    flex:1;
    border-radius: 10px;
    width:45%;
    background-color: #eee;
    border: 2px solid #e1e1e1;
    padding: 10px;
}

.product h2 {
    color:#0d9bc1;
}

.product_1 {
    margin-right: 4%;
    float:left;
}

.product_2 {
    float:right;
}

/* button {
    margin-top:1rem;
    margin-bottom:1rem;
    padding: 5px 10px;
    background-color: #0d9bc1;
    border: 2px solid #0d9bc1;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 0.075em;
    outline:none;
}

button:hover {
    background-color: #00aacc;
    color: #fff;
    outline:none;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px lightskyblue;
}

button:disabled, button[disabled]{
    border: 2px solid #999999;
    background-color: #cccccc;
    color: #666666;
  } */

.cost {
    color:#40ae80;
    margin:2rem 0 0 0;
}

.cost_byline {
    font-size: 14px;
    color: #8a8a8a;
}

.form_flex_container {
    display:flex;
    margin:0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_flex_item {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.flex_item_email {
    max-width: 320px;
    width:100%;
}

/* input[type=email] {
    padding: 12px 20px;
    margin:1rem 0;
    background-color: #fff;
    border: 2px solid #40ae80;
    border-radius: 10px;
    width: 84%;
  }

input[type=submit] {
    margin:1rem 0;
    padding: 5px 10px;
    background-color: #40ae80;
    border: 2px solid #40ae80;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    letter-spacing: 0.075em;
    outline:none;
  } */

.about_article section {
    padding-bottom:1rem;
}

.about_article h2 {
    font-weight: normal;
}

.about_article img {
    height: 25%;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.success_block {
    border-radius: 3px;
    padding: 25px 20px;
    margin: 2rem auto 0 auto;
    width: 90%;
}

.success_block h2 {
    color:#b19c76;
    margin: 0;
    font-weight: bold;
}

.success_block img {
    border: 1px solid #b19c76;
    width: 100%;
    height: auto;
    margin: auto;
}

.footer_text {
    line-height: 2.5;
    font-size: 12px;
    color: #162f34;
}

.footer_text a {
    font-size: 14px;
    color: #162f34;
}

.footer_bar {
    margin: 0 5px;
    color: #b19c76;
}

/* Sections */

.section_block {
    margin: 0 5%;
}

.pitch_block {
    margin: 0 4rem;
}

.pitch_block p {
    line-height: 24px;
    font-size: 16px;
    color: #162F34;
    font-family: 'Open Sans';
}

.pitch_form {
    margin: 24px 4rem;
}

.cost_block {
    margin: 0;
    margin-top:72px;
    background-color:#162F34;
    padding:24px 36px 28px 36px;
    border-radius: 3px;
}

.community_block {
    margin: 0;
    margin-top:72px;
    background-color:#b19c76;
    padding:24px 36px 28px 36px;
    border-radius: 3px;
}

.testimonial_block {
    margin-top:72px;
}

.good_news_block {
    margin: 72px 4rem 0 4rem;
}

.footer_block {
    background-color:#162F34;
    color:#F4EDE2;
    padding:24px 45px;
    border-radius: 3px;
}

.mobile_line_break {
    display: none;
  }

.mobile_plus_padding {
    padding-left:35px;
}

/* help.html -- Accordion */
.accordion {
    background-color: #b19c76;
    color: #162F34;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 1rem;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 320px){

    .flex_item_email {
        width: 100%;
    }

}

@media only screen and (max-width: 480px){

    .title {
        font-size:2.1em;
        line-height:120%;
    }

    .product_block {
        flex-direction: column;
    }

    .product {
        border-radius: 10px;
        width:91.5%;
    }
    
    .product_1 {
        margin-right: 0;
    }
    
    .product_2 {
        margin-top: 20px;
    }

    .g-recaptcha{
        /* transform:scale(0.95) !important;
        -webkit-transform:scale(0.95) !important;
        transform-origin:0 0 !important;
        -webkit-transform-origin:0 0 !important; */
        transform: scale(0.85, 0.85);
        }

    .register_block ul {
        padding-left: 17%;
        padding-right: 10%;
    }

    .pitch_form, .pitch_block {
        margin: 24px 5%;
    }

    .good_news_block, .testimonial_block {
        margin: 72px 5%;
    }

    .cost_block, .footer_block, .community_block {
        border-radius: 0;
        padding:24px 5%;
    }


    .arrow {
        display: none;
    }

    .wrapper {
        width: 100%;
        margin: 0;
    }

    .mobile_line_break {
        display: block;
      }

    .mobile_plus_padding {
        padding-left: 0px;
    }
}

@media only screen and (min-width: 480px) {

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ============
    WIDE: Main
   ============ */

    .main article {
        width: 52%;
        margin: auto;
    }

}

@media only screen and (min-width: 450px) and (max-width: 768px) {

/* ============
    WIDE: Main
    ============ */

    .main article {
        width: 70%;
        margin: auto;
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

