body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

table,
td,
tr {
  vertical-align: top;
  border-collapse: collapse;
}

* {
  line-height: inherit;
}

a[x-apple-data-detectors=true] {
  color: inherit !important;
  text-decoration: none !important;
}
